<div class="is-hidden-mobile">
<div id="outputFigDisplay" class="fig">
  <pre id="taag_output_text" style="float:left;" class="fig" contenteditable="true"><font color="#ffccff">                        _   _               _                     _   </font>
<font color="#ff99ff">  ___  _ __   ___ ___  (_) | |__   __ _  __| |   __ _    ___ __ _| |_ </font>
<font color="#cc66cc"> / _ \| '_ \ / __/ _ \ | | | '_ \ / _` |/ _` |  / _` |  / __/ _` | __|</font>
<font color="#cc33cc">| (_) | | | | (_|  __/ | | | | | | (_| | (_| | | (_| | | (_| (_| | |_ </font>
<font color="#993399"> \___/|_| |_|\___\___| |_| |_| |_|\__,_|\__,_|  \__,_|  \___\__,_|\__|</font><br><font face="Courier"> <br> <font color="#993399">just a human without my cat.</font><br> </font>&nbsp;<br></pre></div>
</div>
<div class="is-hidden-tablet">
  <div id="outputFigDisplay" class="fig"><pre id="taag_output_text" style="float:left;" class="fig" contenteditable="true"><font color="#ffccff">                            _  </font>
    <font color="#ff99ff">  ___  _ __   ___ ___  (_) </font>
    <font color="#cc66cc"> / _ \| '_ \ / __/ _ \ | | </font>
    <font color="#cc33cc">| (_) | | | | (_|  __/ | | </font>
    <font color="#993399"> \___/|_| |_|\___\___| |_| </font>
                               
    <font color="#ffccff"> _               _         </font>
    <font color="#ff99ff">| |__   __ _  __| |        </font>
    <font color="#cc66cc">| '_ \ / _` |/ _` |        </font>
    <font color="#cc33cc">| | | | (_| | (_| |        </font>
    <font color="#993399">|_| |_|\__,_|\__,_|        </font>
                               
    <font color="#ffccff">                   _       </font>
    <font color="#ff99ff">  __ _    ___ __ _| |_     </font>
    <font color="#cc66cc"> / _` |  / __/ _` | __|    </font>
    <font color="#cc33cc">| (_| | | (_| (_| | |_     </font>
    <font color="#993399"> \__,_|  \___\__,_|\__|    </font>
                               </pre></div>
    
                                              </div>